<h1>Vložení Firmy</h1>
<p>
<a href="{plink default}">Zpět</a>
</p>


{form addForm}



    <table border="5px dashed">
        <tr class="required">
            <th>{label name /}</th>
            <td>{input name}</td>
            <td>{$form['name']->getError()}</td>
        </tr>

        <tr class="required">
            <th>{label phone /}</th>
            <td>{input phone}</td>
            <td>{$form['phone']->getError()}</td>
        </tr>

        <tr>
            <th>{label is_dph/}</th>
            <td>{input is_dph}</td>
            <td>{$form['is_dph']->getError()}</td>
        </tr>

        <tr>
            <th>{label dane_cislo/}</th>
            <td>{input dane_cislo}</td>
            <td>{$form['dane_cislo']->getError()}</td>
        </tr>

        <tr>
            <th></th>
            <td>{input send}</td>
        </tr>
    </table>
{/form}
